
@{
    ViewBag.Title = "Showinf";
}

<h2>informacion del estudiante</h2>

<h3>Matricula: @ViewBag.matricula</h3>
<br />
<h3>Nombre: @ViewBag.nombre</h3>
<br />
<h3>Apellidos: @ViewBag.apellido</h3>
<br />
<h3>Fecha de nacimiento: @ViewBag.nacimiento</h3>
<br />
<h3>Area de estudios: @ViewBag.carrera</h3>
<br />
<h3>Direccion: @ViewBag.direccion</h3>
<br />
<h3>Numero telefonico: @ViewBag.telefono</h3>
<br />
<h3>Correo electronico: @ViewBag.correo</h3>
<br />


